html {
   scroll-behavior: smooth;
   min-height: 100vh;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 10rem;
   background-color: rgb(4, 104, 115);
   box-shadow: 0 0 20px black;
   color: white;
   position: relative;
   z-index: 10000000;
}


.logo {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
}

.logo_title {
   display: flex;
   font-weight: 500;
   align-items: center;
   gap: 15px;
   text-decoration: none;
   color: white;
}

.navbar_items {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 30px;
   
}



.navbar_items a {
   color: white;
   text-decoration: none;
   font-weight: lighter;
   font-size: 15px;
   border-radius: 10px;
   transition: all 0.5s ease;
}

.navbar_items a:hover {
   transform: scale(0.9);
}

.model1 {
   display: flex;
   justify-content: space-between;
   background: linear-gradient(135deg, rgb(81, 145, 184), rgb(36, 72, 148));
   color: white;
   padding: 5rem 10rem;
   gap: 20px;
   font-size: 1.2rem;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
}

.txt_model1 {
   display: flex;
   flex-direction: column;
   padding-right: 5rem;
}

button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 50px;
   border-radius: 100px;
   cursor: pointer;
}

.main_btn {
   display: flex;
   gap: 20px;
   margin-top: 20px;
}

.colored_btn {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 204, 0);
   border: none;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease;
}

.colored_btn:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.light_btn {
   color: white;
   background: none;
   border-color: white;
   border-style: solid;
   border-width: 2px;
   transition: all 0.3s ease;
}

.light_btn:hover {
    background-color: rgba(255, 204, 0, 0.084);
    border-color: rgb(255, 204, 0);
    color: rgb(255, 204, 0);
}

.top_container {
   display: flex;
   flex-direction: column;
   background-color: rgb(250, 250, 250);
   color: black;
   border-radius: 15px;
   padding: 20px 30px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
   transition: all 0.3s ease;
}

.top_container:hover {
   box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
}

.container {
   display: flex;
   flex-direction: column;
   background-color: rgb(250, 250, 250);
   color: black;
   border-radius: 15px;
   padding: 20px 30px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.model2 {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background: linear-gradient(270deg, #f5f5f5, #e0e0e0);
   color: white;
   padding: 5rem 10rem;
   font-size: 1.2rem;
   position: relative;
   clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 97%);
}

.txt_model2 {
   color: black;
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
}

.slider {
   display: flex;
   background: none;
   gap: 20px;
}

.custom_txt {
   color: rgb(63, 87, 111);
   font-size: 15px;
   font-weight: 600;  
   margin-top: auto;
}

.model3 {
   display: flex;
   justify-content: space-between;
   background: linear-gradient(270deg, #e0eafc, #cbd9ee);
   padding: 5rem 10rem;
   gap: 20px;
   font-size: 1.2rem;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
}

.txt_model3 {
   color: black;
   display: flex;
   flex-direction: column;
}

.model4 {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
   padding: 5rem 10rem;
   font-size: 1.2rem;
}

form {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 10px 0;
}

form label{
   margin-bottom: -25px;
}

form input {
   border-radius: 3px;
   border-color: rgba(0,0,0,0.1);
   border-width: 2px;
   border-style: solid;
   padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form textarea {
   border-radius: 3px;
   border-color: rgba(0,0,0,0.1);
   border-width: 2px;
   border-style: solid;
   padding: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button {
   align-items: flex-start;
   width: 7rem;
}

footer {
   display: flex;
   justify-content: center;
   background-color: #1a2332;
   color: white;
   padding: 10px;
   text-align: center;
}


